<html> 
<head>
	<!-- Document Title
	============================================= -->
	<title>4_Green</title>
</head>
 <body class="stretched" style="background-color:#60a252;">
  <p style="text-align:center;font-size:20px"><strong>Server name ={{ansible_hostname}}</strong></p>
  <p style="text-align:center;font-size:20px"><strong>Server's IP={{ansible_all_ipv4_addresses}}</strong></p>
  <p style="text-align:center;font-size:20px"><strong>Running OS is:{{ansible_os_family}}</strong></p>
  <p style="text-align:center;font-size:20px"><strong>OWNER:{{ owner }}</strong></p>
  <p style="text-align:center;font-size:200px;color:red"><strong>ip4it.click</strong></p>
  <p style="text-align:center;font-size:30px"><strong>AWS-Paris-Site = 4</strong></p> 
</html>
